@import "reset.css";

html {
  min-width: 375px;
}

header {
  padding: 1.5rem;
  background-color: aliceblue;
  text-align: center;

  border-bottom: 1px solid black;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
