h1 {
  color: pink;
  background-color: black;
}

h2 {
  color: orange;
}

p {
  font-size: 20px;
}

li:first-child {
  color: red;
}

li:nth-child(2) {
  background-color: pink;
}

li:nth-child(3) {
  color: blue;
}

li:last-child {
  text-decoration: underline;
}

li::before {
  content: "✔";
}
