@import "reset.css";

#title {
  padding: 2rem;

  background-color: rgb(46, 46, 130);
  color: white;

  font-size: 2rem;
}

#preview {
  display: flex;
  gap: 1rem;

  padding: 1rem;

  overflow: scroll;
}

#preview img {
  height: 12rem;
  width: 10rem;
  object-fit: cover;
}
